@model MoneyTree.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="page_title_container container-fluid">
    <h1 class="page_title">Customer Details <a asp-action="Index"><i class="fas fa-sm fa-arrow-alt-circle-left"></i></a></h1>
</div>
<card class="card text-center mb-4" style="padding: 5px; width: 40%">
    <dl class="row">
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.PhoneNumber):
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</card>