@model MoneyTree.Models.ViewModels.CustomerDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="page_title_container container-fluid">
    <h1 class="page_title">
        Projects For @Html.DisplayFor(model => model.Customer.FullName)<br />
        <a asp-controller="Project" asp-action="Index" style="font-size: medium">
            <i class="fas fa-sm fa-arrow-alt-circle-left" style="font-size: xx-large"></i>To Projects
        </a>
        <a asp-action="Index" style="font-size: medium">
            <i class="fas fa-sm fa-arrow-alt-circle-left" style="font-size: xx-large"></i>To Customers
        </a>
    </h1>
</div>
<br />
<card class="card text-center mb-4">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].StartDate)
                </th>
                <th>
                    Est. Completion
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].AmountCharged)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerProjects){

                if (!item.IsComplete) {

                    <tr>
                        <td>
                            <a asp-controller="Project" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletionDate)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.AmountCharged)
                        </td>
                        <td>
                            Open
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</card>
<br />
<h2>Completed Projects</h2>
<card class="card text-center mb-4">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].CompletionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProjects[0].AmountCharged)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerProjects){

                if (item.IsComplete) {

                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletionDate)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.AmountCharged)
                        </td>
                        <td>
                            Complete
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</card>