@model MoneyTree.Models.Project

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
</br>
<h1>@Html.DisplayFor(model => model.ProjectName)</h1>
<table style="width:100%">
    <tbody>
        <tr style="border:solid">
            <td class="project_customer_data" style="width:80%; padding: 10px">
                Customer: @Html.DisplayFor(model => model.Customer.FullName) </br>
                Email: @Html.DisplayFor(model => model.Customer.Email)</br>
                Phone: @Html.DisplayFor(model => model.Customer.PhoneNumber)</br>
                Start Date: @Html.DisplayFor(model => model.StartDate)</br>
                Completed: @Html.DisplayFor(model => model.CompletionDate)
            </td>
            <td class="project_cost_data" style="width:20%; padding: 10px">
                Invoiced Amount: @Html.DisplayFor(model => model.AmountCharged)</br>
                Project Cost: @Html.DisplayFor(model => model.TotalCost)</br>
                Profit: @Html.DisplayFor(model => model.Profit)
            </td>
        </tr>
    </tbody>
</table>
<table style="width:100%; border:solid">
    <h3 style="width:100%; border-left:solid; padding:10px; border-right:solid; margin:0px">Project Costs</h3>
    <thead>
        <tr>
            <th style="width:15%; padding: 10px; border:solid; text-align:center">
                Name
            </th>
            <th style="width:15%; padding: 10px; border:solid; text-align:center">
                Category
            </th>
            <th style="width:15%; padding: 10px; border:solid; text-align:center">
                Units
            </th>
            <th style="width:15%; padding: 10px; border:solid; text-align:center">
                Cost Per Unit
            </th>
            <th style="width:14%; padding: 10px; border:solid; text-align:center">
                Quantity
            </th>
            <th style="width:14%; padding: 10px; border:solid; text-align:center">
                Date Used
            </th>
            <th style="width:12%; padding: 10px; border:solid; text-align:center">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectCosts) {
        <tr>
            <td style="width:15%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.CostItem.ItemName)
            </td>
            <td style="width:15%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.CostItem.CostCategory.CategoryName)
            </td>
            <td style="width:15%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.CostItem.UnitOfMeasure.UnitName)
            </td>
            <td style="width:15%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.CostPerUnit.Cost)
            </td>
            <td style="width:14%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="width:14%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.DateUsed)
            </td>
            <td style="width:12%; padding: 10px; border:solid; text-align:center">
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
        </tr>
        }
    </tbody>
</table>
