@model MoneyTree.Models.Project

@{
    ViewData["Title"] = "Details";
}
<br />
<div class="page_title_container container-fluid">
    <h1 class="page_title">@Html.DisplayFor(model => model.ProjectName)  <a asp-action="Index"><i class="fas fa-sm fa-arrow-alt-circle-left"></i></a></h1>
</div>
<card class="card text-center mb-4">
    <table style="width: 100%;">
        <tbody >
            <tr style="border: thin solid grey;">
                <td class="project_customer_data" style="width:75%; padding: 10px; text-align: left;">
                    Customer: @Html.DisplayFor(model => model.Customer.FullName) <br />
                    Email: @Html.DisplayFor(model => model.Customer.Email)<br />
                    Phone: @Html.DisplayFor(model => model.Customer.PhoneNumber)<br />
                    Start Date: @Html.DisplayFor(model => model.StartDate)<br />
                    Completed: @Html.DisplayFor(model => model.CompletionDate)
                </td>
                <td class="project_cost_data" style="width:25%; padding: 10px; text-align: left;">
                    Invoiced Amount: $@Html.DisplayFor(model => model.AmountCharged)<br />
                    Project Cost: $@Html.DisplayFor(model => model.TotalCost)<br />
                    Profit: $@Html.DisplayFor(model => model.Profit)
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="width:100%; padding:10px; margin:0px; text-align: left; border: thin solid grey;">
        Project Costs  <a asp-controller="ProjectCost" asp-action="Create" asp-route-id="@Model.Id" style="font-size:1rem">
        <i class="fas fa-plus-circle fa-2x"></i></a>
    </h3>
    <table style="width:100%; ">
        <thead>
            <tr style="border: thin solid grey;">
                <th style="border: thin solid grey;">
                    Name
                </th>
                <th style="border: thin solid grey;">
                    Category
                </th>
                <th style="border: thin solid grey;">
                    Units
                </th>
                <th style="border: thin solid grey;">
                    Cost Per Unit
                </th>
                <th style="border: thin solid grey;">
                    Quantity
                </th>
                <th style="border: thin solid grey;">
                    Date Used
                </th>
                <th style="border: thin solid grey;">
                    Total
                </th>
                @if (Model.ProjectCosts.Count > 0){
                    <th style="border: thin solid grey;">

                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.ProjectCosts != null){

                @foreach (var item in Model.ProjectCosts){
                    <tr style="border: thin solid grey">
                        <td style="border: thin solid grey;">
                            @Html.DisplayFor(modelItem => item.CostItem.ItemName)
                        </td>
                        <td style="border: thin solid grey;">
                            @Html.DisplayFor(modelItem => item.CostItem.CostCategory.CategoryName)
                        </td>
                        <td style="border: thin solid grey;">
                            @Html.DisplayFor(modelItem => item.CostItem.UnitOfMeasure.UnitName)
                        </td>
                        <td style="border: thin solid grey;">
                            $@Html.DisplayFor(modelItem => item.CostPerUnit.Cost)
                        </td>
                        <td style="border: thin solid grey;">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td style="border: thin solid grey;">
                            @Html.DisplayFor(modelItem => item.DateUsed)
                        </td>
                        <td style="border: thin solid grey;">
                            $@Html.DisplayFor(modelItem => item.TotalCost)
                        </td>
                        <td style="border: thin solid grey;">
                            <a asp-controller="ProjectCost" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                            <a asp-controller="ProjectCost" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</card>