@model IEnumerable<MoneyTree.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<div class="page_title_container container-fluid">
    <h1 class="page_title">Projects  <a asp-action="Create"><i class="fas fa-sm fa-plus-circle"></i></a></h1>
</div>
<br />
<h2>Current Projects</h2>

<card class="card text-center mb-4" style="width: 110%">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    Est. Completion
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountCharged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profit)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model){

                if (!item.IsComplete){

                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                        </td>
                        <td>
                            <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.Customer.Id">
                            @Html.DisplayFor(modelItem => item.Customer.FullName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletionDate)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.AmountCharged)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.TotalCost)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Profit)
                        </td>
                        <td>
                            Open
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</card>
    <br />
    <h2>Completed Projects</h2>
<card class="card text-center mb-4" style="width: 110%">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompletionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountCharged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profit)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model){

                if (item.IsComplete){

                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                        </td>
                        <td>
                            <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.Customer.Id">
                                @Html.DisplayFor(modelItem => item.Customer.FullName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletionDate)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.AmountCharged)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.TotalCost)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Profit)
                        </td>
                        <td>
                            Complete
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</card>