@model IEnumerable<MoneyTree.Models.CostPerUnit>

@{
    ViewData["Title"] = "Index";
}

<h1>Current Cost Per Unit</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>Current Cost Per Unit</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CostItem.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostItem.CostCategory.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            if (item.EndDate == null) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostItem.ItemName)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.CostItem.CostCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<hr />
<br />
<h2>Previous Cost Per Unit</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CostItem.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostItem.CostCategory.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            if (item.EndDate != null) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostItem.ItemName)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.CostItem.CostCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
