@model MoneyTree.Models.CostItem

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index">Back to List</a><br />
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
<br />
<h4>Item Name : @Html.DisplayFor(model => model.ItemName)</h4>
<h5>@Html.DisplayNameFor(model => model.CostCategory):  @Html.DisplayFor(model => model.CostCategory.CategoryName)</h5>
<h5>@Html.DisplayNameFor(model => model.UnitOfMeasure):  @Html.DisplayFor(model => model.UnitOfMeasure.UnitName)</h5>
<h5>@Html.DisplayNameFor(model => model.CurrentCost):  @Html.DisplayFor(model => model.CurrentCost)</h5>
<br />
<h3 style="width:100%; padding:10px; margin:0px"> Cost History
    <a asp-controller="CostPerUnit" asp-action="Create" asp-route-id="@Model.Id" style="font-size:1rem">Create A New Cost Record</a>
</h3>
<br />
<table style="width:100%; border:solid">
    <thead>
        <tr>
            <th style="width:auto; padding: 10px; border:solid; text-align:center">
                Start Date
            </th>
            <th style="width:auto; padding: 10px; border:solid; text-align:center">
                End Date
            </th>
            <th style="width:auto; padding: 10px; border:solid; text-align:center">
                Cost
            </th>
            @if (Model.CostHistory != null)
            {
                <th>

                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.CostHistory != null)
        {

            @foreach (var item in Model.CostHistory)
            {
                <tr>
                    <td style="width:auto; padding: 10px; border:solid; text-align:center">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td style="width:auto; padding: 10px; border:solid; text-align:center">
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td style="width:auto; padding: 10px; border:solid; text-align:center">
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td style="width:auto; padding: 10px; border:solid; text-align:center">
                        <a asp-controller="CostPerUnit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
